@media only screen and (max-width: 1080px) {
    /* body {
    background-color: lightblue;
    } */

    .desktop .links{
        font-size: 0.9rem;
    }

    .btn{
        font-size: 1.2rem;
    }

    }


    @media only screen and (max-width: 948px){
        .btn{
            display: none;
        }

        .desktop ul{
            display: none;
        }
        .open{
            display: flex;
        }
    }

    @media only screen and (max-width: 550px){
        header{
            padding: 0.5rem 0.8rem;
        }
    }
